<div class="page page-complex text-center">
  <div class="old-ie" style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
      <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
          <img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.">
      </a>
  </div>
  <div id="wrap">
    <%= render 'head' %>
    <%= render 'about' %>
    <%= render 'register' %>
    <%= render 'map' %>

    <footer class="page-footer bg-default well-xs">
      <div class="container">
        <p class="copyright">© 2017</p>
      </div>
    </footer></div>

    <%= javascript_pack_tag 'register' %>
</div>
